<body>
    <section class="contact-us">
      <div class="container">
        <h1>Contact us</h1>
        <p>We’re eager to hear from you! If you have any questions, suggestions, or require assistance, don’t hesitate to reach out to us. Here’s how you can contact us:</p>
        <div class="contact-details">
          <div class="contact-item" role="article">
            <i class="fas fa-envelope" aria-hidden="true"></i>
            <h3>Email</h3>
            <p>If you need help or have inquiries, drop us an email. Our support team is dedicated to providing timely responses.</p>
            <p><strong>Email:</strong> <a href="mailto:help@insightsinto.in">&nbsp;help&#64;insightsinto.in</a></p>
          </div>
          <div class="contact-item" role="article">
            <i class="fas fa-phone" aria-hidden="true"></i>
            <h3>Call</h3>
            <p>If you need immediate assistance, feel free to give us a call. Our customer service team is ready to assist you.</p>
            <p><strong>Phone:</strong> <a href="tel:+918160091882"> &nbsp;+918160091882</a></p>
          </div>
          <div class="contact-item" role="article">
            <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
            <h3>Visit</h3>
            <p>If you'd prefer to meet us in person, our office is open for walk-ins. We’d love to assist you directly.</p>
            <p><strong>Address:</strong> 5, AksharVihar, salvav road, Chharvada,Vapi, Gujarat, India - 366196</p>
          </div>
        </div>
      </div>
    </section>
  </body>