

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    // max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

.section {
    width: 100%;
    // max-width: 800px;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 40px;
}

.section h2 {
    font-size: 26px;
    color: #333;
    margin-bottom: 20px;
    // text-align: center;
}

// .upload-form {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

// .upload-form input[type="file"] {
//     margin-bottom: 20px;
//     // padding: 14px;
//     border: 2px solid #ddd;
//     border-radius: 6px;
//     background-color: #fafafa;
//     font-size: 16px;
//     width: 100%;
// }

.gap-20px {
    gap:20px
}

.input-box {
    width: 100%;
}

.mt-29px {
    margin-top: 29px;
}

.upload-form button {
    
   
    padding: 0.5rem 1rem;
    background-color: #1A1F35;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload-form button:hover {
    background-color: #3C4258;
}

.upload-form button:disabled {
    background-color: #d6d6d6; /* Light gray background for disabled state */
    color: #a1a1a1; /* Light gray text color */
    border: 1px solid #d6d6d6; /* Matching border color */
    cursor: not-allowed; /* Change cursor to indicate disabled state */
    opacity: 0.6; /* Slight transparency for a disabled look */
  }
  
.upload-form button:disabled:hover {
    background-color: #d6d6d6; /* Prevent hover effect */
  }

.file-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.file-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 6px;
}

.file-item a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    transition: color 0.3s;
}

.file-item a:hover {
    color: #3C4258;
}

.file-item a i {
    font-size: 25px;
}

.icons {
    display: flex;
    gap: 10px;
}

.delete-icon {
    color: red;
}

// .file-item button,
// .file-item .action-buttons a {
//     padding: 8px 20px;
//     background-color: #007BFF;
//     color: white;
//     border: none;
//     border-radius: 4px;
//     cursor: pointer;
//     font-size: 14px;
//     margin-left: 8px;
//     transition: background-color 0.3s ease;
// }

// .file-item .action-buttons a {
//     background-color: #4CAF50;
// }

// .file-item .action-buttons a:hover {
//     background-color: #45a049;
// }

// .file-item button:hover {
//     background-color: #0056b3;
// }

.file-item .action-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.file-item .action-buttons a:hover,
.file-item button:hover {
    opacity: 0.9;
}

.cursor-pointer {
    cursor: pointer;
}

.delete-btn i {
    color: red;
    cursor: pointer;
}

.cursor-pointer {
    cursor: pointer
}

.file-item a {
    color: #1A1F35;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .container {
        padding: 20px;
    }

    .section {
        width: 90%;
    }

    .upload-form input[type="file"] {
        width: auto;
    }

    .file-item {
        flex-direction: column;
        align-items: flex-start;
        padding: 12px;
    }

    .file-item .action-buttons {
        flex-direction: column;
        margin-top: 10px;
    }

    .file-item button,
    .file-item .action-buttons a {
        margin-left: 0;
        margin-top: 6px;
    }
}



































.wrapper-container {
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .wrapper-container h1 {
    font-size: 2.5em;
    color: #1A1F35;
    margin-bottom: 40px;
  }
  
  .pricing-containers {
    display: flex;
    // justify-content: space-evenly;
    gap: 20px;
    // flex-wrap: wrap;
  }
  
  .pricing-card {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    width: 350px;
    padding: 30px;
    // width: 284px;
    //   padding: 21px;
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
  }
  
  .pricing-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  }
  
  .pricing-card h2 {
    font-size: 2em;
    color: #1A1F35;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .pricing-card p {
    font-size: 1.1em;
    color: #777;
    margin-bottom: 20px;
  }
  
  .price {
    font-size: 1.3em;
    font-weight: bold;
    color: #1A1F35;
    margin-bottom: 20px;
  }
  
  .referral-price {
    font-size: 20px;
    font-weight: bold;
    color: #1A1F35;
  }
  
  .referral-price span {
    color: #777;
  }
  
  .price span {
    // font-size: 1.2em;
    color: #777;
  }
  
  .features {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
  }
  
  .features li {
    margin: 12px 0;
    font-size: 1.1em;
    color: #555;
  }
  
  .button {
    background: linear-gradient(45deg, #1A1F35, #3C4258);
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    font-size: 1.2em;
    cursor: pointer;
    text-transform: uppercase;
    transition: background 0.3s, transform 0.3s;
  }
  
  .button:hover {
    background: linear-gradient(45deg, #3C4258, #1A1F35);
    transform: translateY(-3px);
  }
  
  /* Responsive Design */
  @media (max-width: 1024px) {
    .pricing-containers {
        flex-direction: row;
        flex-wrap: wrap;
        // justify-content: center;
        justify-content: start;
    }
  
    .pricing-card {
        width: 40%;
        max-width: 400px;
    }
  
    .wrapper-container h1 {
        font-size: 2.2em;
    }
  }
  
  @media (max-width: 768px) {
    .pricing-containers {
        flex-direction: column;
        align-items: center;
    }
  
    .pricing-card {
        width: 90%;
        margin-bottom: 20px;
    }
  
    .wrapper-container h1 {
        font-size: 2em;
    }
  }
  
  @media (max-width: 480px) {
    body {
        padding: 10px;
    }
  
    .wrapper-container h1 {
        font-size: 1.8em;
        margin-bottom: 20px;
    }
  
    .price {
        font-size: 1.8em;
    }
  
    .button {
        font-size: 1em;
        padding: 12px 25px;
    }
  
    .features li {
        font-size: 1em;
    }
  }
  
  
  
  .strike {
    text-decoration: line-through;
    color: red;
  }
  
  .h-19 {
    height: 19%;
  }



































  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
  }

  .calendar-wrapper {
    overflow-x: auto; /* Allow horizontal scrolling */
    width: 100%;
    height: 100vh; /* Full height */
  }

  .calendar-container {
    display: flex;
    flex-direction: column;
    min-width: 1200px; /* Fixed width for the entire calendar */
    height: 100%;
    border: 1px solid #ddd; /* Outer border for the calendar */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }

  .week-names {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    /* padding: 10px 0; */
    font-weight: bold;
  }

  /* Header Colors for Each Day */
  .week-names div:nth-child(1) {
    background-color: #ffcccc; /* Sunday */
  }

  .week-names div:nth-child(2) {
    background-color: #ffe0b3; /* Monday */
  }

  .week-names div:nth-child(3) {
    background-color: #ffffb3; /* Tuesday */
  }

  .week-names div:nth-child(4) {
    background-color: #d9f2d9; /* Wednesday */
  }

  .week-names div:nth-child(5) {
    background-color: #cce6ff; /* Thursday */
  }

  .week-names div:nth-child(6) {
    background-color: #d9ccff; /* Friday */
  }

  .week-names div:nth-child(7) {
    background-color: #ffb3b3; /* Saturday */
  }

  .week-names div {
    border-right: 1px solid #ddd; /* Right border for each day */
    color: #333; /* Text color */
    padding: 10px 0;
  }

  .week-names div:last-child {
    border-right: none; /* Remove border from the last column */
  }

  .week-view {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0; /* Remove gaps to create seamless borders */
    padding: 0;
    background-color: #fff;
  }

  .week-view .card {
    border: 1px solid #ddd; /* Border for each card */
    background-color: #fff; /* Set card background to white */
    color: #1A1F35; /* Text color */
    padding: 10px;
    border-radius: 0; /* Remove rounded corners */
    text-align: center;
    font-size: 14px;
    box-shadow: none; /* Remove shadow for table-like look */
    height: 100px; /* Fixed height for consistency */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 768px) {
    body {
      overflow-x: hidden;
    }
    .upload-form {
      flex-direction: column;
    }

    .calendar-container {
      min-width: 1000px; /* Keep a consistent width for scrolling */
    }
  }

  @media (max-width: 576px) {
    .calendar-container {
      min-width: 800px; /* Minimum width for smaller screens */
    }
  }




  .elipse {
    max-width: 96px;
    display: inline-block;
    white-space: nowrap;        /* Prevents text from wrapping */
    overflow: hidden;           /* Hides any text that overflows */
    text-overflow: ellipsis;
  }


  .cursor-pointer {
    cursor: pointer;
  }