<!-- <div class="container">
  <header>
    <h1>Test Series Details</h1>
    <p>Effortlessly manage your test series and associated tests.</p>
  </header>

  <section class="series-details px-3">
    <div class="details-header">
      <h2>
        Series Name: <span>{{ testSeriesDetails?.name }}</span>
      </h2>
    </div>
    <p><strong>Description:</strong> &nbsp;{{ testSeriesDetails?.details }}</p>
    <p><strong>Medium:</strong> &nbsp;{{ testSeriesDetails?.medium }}</p>
    <p>
      <strong>Start Date:</strong> &nbsp;{{
        testSeriesDetails?.startDate | date : "d MMM, y"
      }}
    </p>
  </section>

  <section id="section3">
    <h1 class="px-3">Your Test</h1>

    <div class="cards-container mb-5">
      <ng-container *ngIf="testData.length > 0; else noTest">
        <div class="card" *ngFor="let test of testData">
          <div
            class="card-label"
            [ngClass]="{
              active: test.status === 'Active',
              completed: test.status === 'Completed',
              upcoming: test.status === 'Upcoming' || test.status === 'Ready'
            }"
          >
            {{ test.status }}
          </div>
          <div class="card-body">
            <p class="card-detail">
              <strong>{{ test.Title | uppercase }}</strong>
            </p>
            <p class="card-detail">
              <strong>Language:</strong> {{ test.language }}
            </p>
            <p class="card-detail">
              <strong>Duration:</strong> {{ test.duration }}
            </p>
            <p class="card-detail">
              <strong>Passing Score:</strong> {{ test.minimumPassingScore }}
            </p>

            <button
              *ngIf="test.status === 'Ready'"
              class="btn start-now"
              (click)="onStart(test)"
            >
              Start Now
            </button>
            <button
              *ngIf="test.status === 'Active'"
              class="btn continue"
              (click)="onStart(test)"
            >
              Continue
            </button>
            <button
              *ngIf="test.status === 'Completed'"
              class="btn view-details"
              (click)="seeResult(test)"
            >
              View Details
            </button>
          </div>
        </div>
      </ng-container>

      <ng-template #noTest>
        <p class="empty-msg">No test found for the test series.</p>
      </ng-template>
    </div>
  </section>
</div>-->

<ng-template #Result let-modal>
  <div class="custom-modal-container">
    <div class="modal-body">
      <div class="test-result-card">
        <div class="test-card-header d-flex justify-content-between">
          <div class="w-100">
            <h4 class="mb-0">Test Result</h4>
          </div>
          <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
          ></button>
        </div>
        <div class="test-card-body">
          <ul>
            <li>
              Right Answered:
              <span>{{
                testResultDetails && testResultDetails.rightAnswered
              }}</span>
            </li>
            <li>
              Total Questions:
              <span>{{
                testResultDetails && testResultDetails.totalQuestions
              }}</span>
            </li>
            <li>
              Answered Questions:
              <span>{{
                testResultDetails && testResultDetails.answeredQuestions
              }}</span>
            </li>
            <li>
              Unanswered Questions:
              <span>{{
                testResultDetails && testResultDetails.unansweredQuestions
              }}</span>
            </li>
            <li>
              Evaluation Score:
              <span
                >{{
                  testResultDetails &&
                    testResultDetails.evaluationScore.toFixed(2)
                }}%</span
              >
            </li>
          </ul>
        </div>
        <div class="test-card-footer">
          <p>
            <strong>Test:</strong>
            {{ testResultDetails && testResultDetails.testTitle }}
          </p>
          <p>
            <strong>User:</strong>
            {{ testResultDetails && testResultDetails.userName }}
          </p>
          <p class="d-flex align-items-center justify-content-between">
            <span>
            <strong>Subitted:</strong>
            {{
              testResultDetails && testResultDetails.createdAt
                | date : "d MMM, y"
            }}

            </span>
            <button  type="button" class="btn btn-outline-primary" (click)="goToAnalysis(testResultDetails && testResultDetails.testId)">See Analysis</button>
          </p>
        </div>
        <!-- <div class="button-wrapper">
          
          
        </div> -->
      </div>
    </div>
  </div>
</ng-template> 







<ng-template #instruction let-modal>
	<div class="modal-header">
		<h4 class="modal-title mb-0" id="modal-basic-title">Paper Instructions: Online & Offline</h4>
		
    <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modal.dismiss('Cross click')"
  ></button>
    
	</div>
	<div class="modal-body">
		<body style="font-family: 'Arial', sans-serif; margin: 0; padding: 0; background-color: #f9f9f9; color: #333;">

      
    
      <div style="background-color: white; padding: 20px; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
        
        <div style="margin-bottom: 40px; padding-bottom: 10px; border-bottom: 2px solid #ececec;">
          <h2 style="font-size: 20px; font-weight: bold; margin-bottom: 15px; color: #1A1F35;">Online Paper Instructions</h2>
          <p style="font-size: 16px; line-height: 1.6; margin-bottom: 20px;">
            The online test provides an easy-to-use platform for conducting exams. To ensure a smooth experience, please follow these guidelines:
          </p>
          <ul style="padding-left: 20px; margin-bottom: 20px;">
            <li style="margin-bottom: 10px; font-size: 16px;">Ensure a stable internet connection throughout the exam.</li>
            <li style="margin-bottom: 10px; font-size: 16px;">Preferably use a desktop or laptop for the best experience. Avoid using mobile devices.</li>
            <li style="margin-bottom: 10px; font-size: 16px;">Log in to your account before the exam begins to avoid delays.</li>
            <li style="margin-bottom: 10px; font-size: 16px;">Be aware of the start time and join the exam promptly to avoid any disruptions.</li>
            <li style="margin-bottom: 10px; font-size: 16px;">Review the instructions and exam paper before starting.</li>
            <li style="margin-bottom: 10px; font-size: 16px;">Use the built-in timer to keep track of the remaining exam time.</li>
            <li style="margin-bottom: 10px; font-size: 16px;">If you experience technical difficulties, immediately contact the support team for assistance.</li>
            <li style="margin-bottom: 10px; font-size: 16px;">Your answers will be saved automatically and submitted once the exam is completed.</li>
          </ul>
        </div>
    
        <div style="padding-bottom: 10px;">
          <h2 style="font-size: 20px; font-weight: bold; margin-bottom: 15px; color: #1A1F35;">Offline Paper Instructions</h2>
          <p style="font-size: 16px; line-height: 1.6; margin-bottom: 20px;">
            For offline exams, the test will be conducted in a traditional format on paper. Follow the guidelines below:
          </p>
          <ul style="padding-left: 20px; margin-bottom: 20px;">
            <li style="margin-bottom: 10px; font-size: 16px;">Ensure you have a pen/pencil and all necessary stationary before starting.</li>
            <li style="margin-bottom: 10px; font-size: 16px;">Write your name, roll number, and other required details on the first page.</li>
            <li style="margin-bottom: 10px; font-size: 16px;">Read all instructions carefully before starting the exam.</li>
            <li style="margin-bottom: 10px; font-size: 16px;">Answer all questions in the provided spaces on the test paper.</li>
            <li style="margin-bottom: 10px; font-size: 16px;">Do not write outside the designated answer spaces.</li>
            <li style="margin-bottom: 10px; font-size: 16px;">Ensure your handwriting is legible and clear.</li>
            <li style="margin-bottom: 10px; font-size: 16px;">Once the exam is completed, submit your paper to the invigilator.</li>
            <li style="margin-bottom: 10px; font-size: 16px;">Double-check your paper for any missed questions before submission.</li>
          </ul>
        </div>
    
      </div>
    
      <!-- <footer style="background-color: #4e54c8; color: white; text-align: center; padding: 15px 0; font-size: 14px;">
        © 2024 Insight Into | All Rights Reserved
      </footer> -->
    
    </body>
	</div>
	<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary"  (click)="modal.dismiss('Cross click')">Cancel</button>
    <a href="assets/AnswerSheet.jpeg" download>
      <button class="btn btn-outline-primary">Get answer sheet</button>
    </a>
		<button type="button" class="btn btn-outline-primary" (click)="onlineStart(selectedTest)">Attempt Online</button>
		<button type="button" class="btn btn-outline-primary" (click)="offlineStart(selectedTest)">Attempt Offline</button>
	</div>
</ng-template>










<!-- enterprise-container -->

<div class="container">
  <header class="enterprise-header">
    <h1>Explore Your Test Series</h1>
    <p>Maximize your potential by leveraging the full range of test series and assessments to boost your progress</p>
  </header>

  <div class="enterprise-content">
    <!-- Test Series Overview -->
    <section class="series-overview">
      <div class="overview-header d-flex align-items-center justify-content-between mb-2">
        <h4 class="mb-0">
          {{ testSeriesDetails?.name  | uppercase}}
        </h4>
        <!-- <p>{{ testSeriesDetails?.details }}</p> -->
         <button type="button" class="btn btn-primary" routerLink="/dash/user-testSeries">Back</button>
      </div>
      <div class="overview-metrics">
        <div>
          <label>Medium</label>
          <span>{{ testSeriesDetails?.medium }}</span>
        </div>
        <div>
          <label>Start Date</label>
          <span>{{ testSeriesDetails?.startDate | date: "d MMM, y" }}</span>
        </div>
      </div>
    </section>

    <!-- Test List -->
   
    <section id="section3">
      <h4 class="mb-0">Your Test</h4>
  
      <div class="cards-container mb-5">
        <ng-container *ngIf="testData.length > 0; else noTest">
          <div class="card" *ngFor="let test of testData">
            <div
              class="card-label"
              [ngClass]="{
                active: test.status === 'Active',
                completed: test.status === 'Completed',
                offline: test.status === 'Offline',
                upcoming: test.status === 'Upcoming' || test.status === 'Ready'
              }"
            >
              {{ test.status }}
            </div>
            <div class="card-body">
              <p class="card-detail">
                <strong>{{ test.title | uppercase }}</strong>
              </p>
              <p class="card-detail">
                <strong>Language:</strong> {{ test.language }}
              </p>
              <p class="card-detail">
                <strong>Duration:</strong> {{ test.duration }}    {{test.remainingTime}}
              </p>
              <p class="card-detail">
                <strong>Passing Score:</strong> {{ test.minimumPassingScore }}
              </p>
  
              <button
                *ngIf="test.status === 'Ready'"
                class="btn start-now"
                (click)="openInstuctionModel(instruction, test)"
              >
                Start Now <!--(click)="onStart(test)"-->
              </button>


              <button
              *ngIf="test.status === 'Offline'"
              class="btn  offline"
              (click)="offlineStart(test)"
            >
            Continue
            </button>
            <!-- (click)="fileInput.click()"
            <input type="file" accept="image/*" (change)="onFileSelected($event)" #fileInput hidden /> -->
              
              <!-- <div ngbDropdown *ngIf="test.status === 'Ready'">
                <button type="button" class="btn start-now w-100" [id]="test.title+test.id" ngbDropdownToggle>
                  Start Now
                </button>
                <div ngbDropdownMenu [attr.aria-labelledby]="test.title+test.id" class="p-2 w-100">
                
                  <button type="button" class="btn start-now text-center" ngbDropdownItem>Attempt Offline</button>
                  <div class="dropdown-divider"></div>
                  <button type="button" class="btn start-now text-center" ngbDropdownItem>Attempt Online</button>
                </div>
              </div> -->


              <button
                *ngIf="test.status === 'Active'"
                class="btn continue"
                (click)="onlineStart(test)"
              >
                Continue
              </button>
              <button
                *ngIf="test.status === 'Completed'"
                class="btn view-details"
                (click)="seeResult(test)"
              >
                View Details <!--seeResult(test)-->
              </button>
            </div>
          </div>
        </ng-container>
  
        <ng-template #noTest>
          <p class="empty-msg">No test found for the test series.</p>
        </ng-template>
      </div>
    </section>
  </div>

</div>













