
    <div class="container">
        
        <div class="section">
            <h2>Overview</h2>
            <div class="flex-row">
                <div class="card">
                    <h3>Purchased Test Series</h3>
                    <p>{{dashboardData && dashboardData.purchasedTestSeriesCount}} Test Series</p>
                </div>
                <div class="card">
                    <h3>Recent Scores</h3>
                    <p>Average Score: {{dashboardData && dashboardData.recentScore.toFixed(2)}}%</p>
                </div>
            </div>
        </div>

        
        <div class="section">
            <h2>Progress Tracking</h2>
            <div class="flex-row">
                <div class="card">
                    <h3>Tests Completed</h3>
                    <p>{{dashboardData && dashboardData.completedTests}}</p>
                </div>
                <div class="card">
                    <h3>Tests Pending</h3>
                    <p>{{dashboardData && dashboardData.pendingTests}}</p>
                </div>
            </div>
        </div>

      
        <div class="section">
            <h2>Test Details</h2>
            <h3>Active Tests</h3>
            <ul>
                <ng-container *ngFor="let test of dashboardData && dashboardData.activeTests">
                  <li class="d-flex justify-content-between align-items-center"> {{test.title | uppercase}} <a class="btn btn-outline-info" (click)="startNow(test && test.testSeriesId)">Start</a></li>

                </ng-container>
                <!-- <li><a href="#" class="btn">Test 2</a></li> -->
            </ul>
            <h3>Completed Tests</h3>
            <!-- <table class="table">
                <thead>
                    <tr>
                        <th>Test</th>
                        <th>Score</th>
                        <th>Analysis</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Test 1</td>
                        <td>90%</td>
                        <td><a href="#" class="btn">View</a></td>
                    </tr>
                </tbody>
            </table> -->
            <div class="table-wrapper">
                <app-table  
                    [tableHeaders]="tableHeaders"
                    [tableData]="tableData"
                    [itemsPerPage]="5"
                    [actionsConfig]="actionConfig"
                    (actionTriggered)="handleAction($event)"
                    [tableName]="''"
                    [showTableName]="true"
                    [showSearchBar]="true"
                    [showColumns]="ShowColumns">
                  </app-table>

            </div>
            <!-- <h3>Upcoming Tests</h3>
            <ul>
                <li><a href="#" class="btn">Test 3 - Tomorrow</a></li>
            </ul> -->
        </div>

       
        <!-- <div class="section">
            <h2>Notifications & Alerts</h2>
            <ul>
                <li class="alert">Test 3 is scheduled for tomorrow!</li>
            </ul>
        </div> -->

      
        <!-- <div class="section">
            <h2>Account Management</h2>
            <div class="profile">
                <img src="https://via.placeholder.com/80" alt="Profile Picture">
                <div class="profile-details">
                    <p>Name: John Doe</p>
                    <p>Email: john.doeexample.com</p>
                    <a href="#" class="btn">Edit Profile</a>
                </div>
            </div>
        </div> -->
    </div>
