.container {
    padding: 20px;
    // max-width: 1200px;
    margin: 0 auto;
}
.section {
    background: white;
    border-radius: 8px;
    // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}

.section h2 {
  
    


    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    margin-top: 0;
}

.section h3 {
    margin: 18px 0 18px 0;

    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.card {
    flex: 1;
    min-width: 250px;
    background-color: #4e54c80a;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}
.card h3 {
    margin: 0;
    color: #4e54c8;
}

ul li {
    background-color: white;
    color: black;
    border: 1px solid #dddddd;
    margin: 5px;
    padding: 10px;
    border-radius: 8px;
}


ul li a{

    display: flex;
    // width: 100%;
    // background-color: #6a74d6;
    margin: 0;

    // background-color: white;
    // color: black;
    // border: 1px solid #dddddd;
}





.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    color: white;
    background-color: #4e54c8;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}
.btn:hover {
    background-color: #4e54c8c7;
}
.profile {
    display: flex;
    gap: 20px;
    align-items: center;
}
.profile img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
.profile-details {
    flex: 1;
}


 ::ng-deep .table-wrapper .test-series-section {
    padding: 0 !important;
    border: 1px solid #dddddd;
    border-radius: 8px;
    margin-left: 30px;
 }

 ::ng-deep .table-wrapper  .table-search-bar {
    box-shadow: none !important;
 }

 ::ng-deep .table-wrapper .test-series-table table {
    box-shadow: none !important;
 }

 ::ng-deep .table-wrapper .table-container {
    box-shadow: none !important;
    // border: 1px solid gray;
    // border-radius: 6px;
 }


 ::ng-deep  .table-wrapper .btn-outline-info {
    color: #4e54c8 !important;
    border-color: #4e54c8 !important;
 }


 ::ng-deep  .table-wrapper .btn-outline-info:hover {
    // color: black !important;
    // background-color: #6a74d6 !important;
    // border-color: #6a74d6 !important;

    color: white !important;
    background-color: #4e54c8 !important;
    border-color: #4e54c8 !important;
 }

 .alert {
    background-color: #ffeedb;
    border-left: 5px solid #f7b26b;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
 }



