/* Container Styling */
.otp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f7fc;
  }
  
  /* Card Design */
  .card {
    background-color: #fff;
    // padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  /* Card Body */
  .card-body {
    text-align: center;
  }
  
  /* Heading */
  h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Paragraph */
  p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
  }
  
  /* OTP Input Styling */
  .otp-input {
    font-size: 24px;
    text-align: center;
    padding: 12px;
    width: 80%;
    margin-bottom: 20px;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: border-color 0.3s;
  }
  
  .otp-input:focus {
    border-color: #1a1f35;
    outline: none;
  }
  
  /* Button Styling */
  .otp-button {
    padding: 12px 25px;
    background-color: #1a1f35;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    width: 80%;
    transition: background-color 0.3s;
  }
  
  .otp-button:hover {
    background-color: #3c4258;
  }
  
  /* Resend Text Styling */
  .resend-text {
    margin-top: 20px;
    font-size: 14px;
  }
  
  .resend-text a {
    color: #1a1f35;
    text-decoration: none;
  }
  
  .resend-text a:hover {
    text-decoration: underline;
  }
  
  .disabled-link {
    pointer-events: none;
    color: gray;
    text-decoration: none;
    cursor: not-allowed;
  }


  .otp-button:disabled {
    background-color: #ccc; /* Light gray background */
    color: #666; /* Gray text */
    cursor: not-allowed; /* Change cursor to indicate the button is disabled */
    border: 1px solid #ddd; /* Light border color */
    pointer-events: none; /* Prevent clicking */
  }