<div class="container">
  <header class="header">
    <h1>Daily Editorial</h1>
    <p>Preview today's editorial PDFs and stay informed.</p>
  </header>

  <section class="editorial-list">
    
    @for(editorial of allEditoril; track $index) {
   
    <div class="editorial-item">
      <div class="editorial-info">
        <span class="editorial-title"
          >Today’s Editorial Program: {{ editorial.fileName }}</span
        >
        <span class="editorial-date">
          {{ editorial.uploadDate | date : "MMMM d, y" }}</span
        >
      </div>
      <div
        *ngIf="!pricingAndPlans.includes(editorial.id)"
        class="editorial-preview"
      >
        <div
          class="pdf-preview position-relative"
          [id]="'collapse' + editorial.id"
        >
          <div
            *ngIf="
              editorial &&
              editorial.videoPath === null &&
              editorial &&
              editorial.filePath !== null
            "
            class="pdf-container w-100"
          >
            <pdf-viewer
              id="outerContainer"
              [src]="staticBaseUrl + editorial.filePath"
              [rotation]="0"
              [original-size]="false"
              [show-all]="true"
              [fit-to-page]="false"
              [zoom]="1"
              [zoom-scale]="'page-width'"
              [stick-to-page]="false"
              [render-text]="true"
              [external-link-target]="'blank'"
              [autoresize]="true"
              [show-borders]="false"
              style="width: 100%; height: 400px"
              (after-load-complete)="afterLoadComplete($event)"
              (pagechanging)="onPageChange($event, editorial.id)"
            ></pdf-viewer>
            <div class="register-overlay" [id]="'overlay' + editorial.id">
              <div>
                <p class="mb-0 text-white">To view more pages, please register!</p>
              </div>
            </div>
          </div>
          <app-video-player
            *ngIf="
              editorial &&
              editorial.filePath === null &&
              editorial &&
              editorial.videoPath !== null
            "
            class="w-100 h-100"
            [link]="
              staticBaseUrl + editorial && staticBaseUrl + editorial.videoPath
            "
          ></app-video-player>
        </div>
        <div class="pdf-actions">
          
          <a
            *ngIf="userAllEditorial.length == 0"
            class="btn view-btn"
            (click)="seePlans(editorial.id)"
            >See plans</a
          >
          <a
            *ngIf="userAllEditorial.length > 0"
            class="btn view-btn"
            routerLink="/dash/daily-editorial"
            routerLinkActive="router-link-active"
            >Go to editorials</a
          >
          
        </div>
      </div>
      <div class="plans" *ngIf="pricingAndPlans.includes(editorial.id)">
        <div class="wrapper-container">
          <div class="d-flex justify-content-between">
            <h4>Plans</h4>
            <div>
              <a class="btn view-btn" (click)="pricingAndPlans = []">Back</a>
            </div>
          </div>
          <div class="pricing-containers">
            <div class="pricing-card">
              <h4>Monthly</h4>
              <p>
                For <b>a Month</b>, Get <b>Daily access</b> to the detailed and
                Mains-oriented
                <b>Summary of Leading News Paper Editorials</b> in
                <b>Question-Answer Format</b> with
                <b>Weekly Video Discussion</b> on Trending issues in news.
              </p>

              <div class="">
                <span class="price">₹149 </span>
                <span class="price">for <b>One month</b></span>
              </div>
              <ul class="features h-18">
                <li class="d-flex align-items-baseline justify-content-center">
                  <div class="">
                    <span class="referral-price">Use Referral Code for ₹99</span
                    ><span class="referral-price"> for <b>One month</b></span>
                  </div>
                </li>
              
              </ul>
              <button
                class="button"
                (click)="
                  onBuy(editorial, 'monthly', '149', 'Monthly Subscription')
                "
              >
                Subscribe / Join
              </button>
            </div>

            <div class="pricing-card">
              <h4>Three Monthly</h4>
              <p>
                For <b>Three Months</b>, Get <b>Daily access</b> to the detailed
                and Mains-oriented
                <b>Summary of Leading News Paper Editorials</b> in
                <b>Question-Answer Format</b> with
                <b>Weekly Video Discussion</b> on Trending issues in news.
              </p>
              <div class="">
                <div class="mb-0">
                  <span class="price">₹399</span
                  ><span class="price"> for <b>Three month</b></span>
                </div>
                <div>
                  <span class="price strike">₹449</span
                  ><span class="price"> for <b>Three month</b></span>
                </div>
              </div>
              <ul class="features">
                <li class="d-flex align-items-baseline justify-content-center">
                  <div class="">
                    <div class="">
                      <span class="referral-price"
                        >Use Referral Code for ₹249</span
                      ><span class="referral-price">
                        for <b>Three month</b></span
                      >
                    </div>
                
                  </div>
                </li>
            
              </ul>
              <button
                class="button"
                (click)="
                  onBuy(
                    editorial,
                    'quarterly',
                    '399',
                    'Three Monthly Subscription'
                  )
                "
              >
                Subscribe / Join
              </button>
            </div>

           
          </div>
        </div>
      </div>
    </div>

    } @empty {
    <div class="editorial-item">
      <div class="message-card">
        <h1>Editorial not uploaded</h1>
        <p>
          The editorial you are looking for is not uploaded yet. Please check
          back later.
        </p>
        
      </div>
    </div>
    }

    
  </section>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      {{ !isLogin ? "signUp" : "Login" }}
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    @if(!isLogin) {
    <form [formGroup]="signUpForm">
      <div class="d-flex gap-2 input-box">
        <div class="w-50">
          <input
            type="text"
            class="form-control"
            placeholder="First Name"
            formControlName="firstName"
            [class.is-invalid]="
              signUpControl['firstName'].invalid &&
              (signUpControl['firstName'].dirty ||
                signUpControl['firstName'].touched)
            "
          />
          <div
            *ngIf="signUpControl['firstName'].errors?.['required']"
            class="invalid-feedback m-0"
          >
            {{ validationErrorMessage.firstNameRequiredError }}
          </div>
        </div>
        <div class="w-50">
          <input
            type="text"
            class="form-control"
            placeholder="Last name"
            formControlName="lastName"
            [class.is-invalid]="
              signUpControl['lastName'].invalid &&
              (signUpControl['lastName'].dirty ||
                signUpControl['lastName'].touched)
            "
          />
          <div
            *ngIf="signUpControl['lastName'].errors?.['required']"
            class="invalid-feedback m-0"
          >
            {{ validationErrorMessage.lastNameRequiredError }}
          </div>
        </div>
      </div>

      <div class="input-box">
        <div class="position-relative">
          <input
            type="email"
            class="form-control"
            placeholder="Email"
            formControlName="email"
            [class.is-invalid]="
              signUpControl['email'].invalid &&
              (signUpControl['email'].dirty || signUpControl['email'].touched)
            "
          />
          <ion-icon name="mail"></ion-icon>
        </div>
        <div
          *ngIf="signUpControl['email'].errors"
          class="invalid-feedback m-0"
          [ngClass]="{
            'd-block':
              signUpControl['email'].invalid &&
              (signUpControl['email'].dirty || signUpControl['email'].touched)
          }"
        >
          {{
            signUpControl["email"].errors["required"]
              ? validationErrorMessage.emailRequiredError
              : validationErrorMessage.emailValidationError
          }}
        </div>
      </div>
      <div class="input-box">
        <div class="position-relative">
          <input
            [type]="hidePassword ? 'password' : 'text'"
            class="form-control"
            placeholder="Password"
            formControlName="password"
            [class.is-invalid]="
              signUpControl['password'].invalid &&
              (signUpControl['password'].dirty ||
                signUpControl['password'].touched)
            "
          />
          @if(signUpControl['password'].value) {
          <div
            class="input-group-prepend"
            (click)="hidePassword = !hidePassword"
          >
            <ion-icon *ngIf="hidePassword" name="eye-off"></ion-icon>
            <ion-icon *ngIf="!hidePassword" name="eye"></ion-icon>
          </div>
          } @else {

          <ion-icon name="lock-closed" class="icon"></ion-icon>
          }
        </div>
        <div
          *ngIf="signUpControl['password'].errors"
          class="invalid-feedback m-0"
          [ngClass]="{
            'd-block':
              signUpControl['password'].invalid &&
              (signUpControl['password'].dirty ||
                signUpControl['password'].touched)
          }"
        >
          {{
            signUpControl["password"].errors["required"]
              ? validationErrorMessage.passwordRequiredError
              : validationErrorMessage.passwordValidationError
          }}
        </div>
      </div>
    </form>

    } @else {
    <form [formGroup]="loginForm">
      <div class="input-box">
        <div class="position-relative">
          <input
            type="text"
            placeholder="Username"
            formControlName="email"
            [class.is-invalid]="
              loginFormControl['email'].invalid &&
              (loginFormControl['email'].dirty ||
                loginFormControl['email'].touched)
            "
          />
          <ion-icon name="person" class="icon"></ion-icon>
        </div>

        <div
          *ngIf="loginFormControl['email'].errors"
          class="invalid-feedback"
          [ngClass]="{
            'd-block':
              loginFormControl['email'].invalid &&
              (loginFormControl['email'].dirty ||
                loginFormControl['email'].touched)
          }"
        >
          {{
            loginFormControl["email"].errors["required"]
              ? validationErrorMessage.emailRequiredError
              : validationErrorMessage.emailValidationError
          }}
        </div>
      </div>
      <div class="input-box">
        <div class="position-relative">
          <input
            [type]="hidePassword ? 'password' : 'text'"
            placeholder="Password"
            formControlName="password"
            [class.is-invalid]="
              loginFormControl['password'].invalid &&
              (loginFormControl['password'].dirty ||
                loginFormControl['password'].touched)
            "
          />
          @if(loginFormControl['password'].value) {
          <div
            class="input-group-prepend"
            (click)="hidePassword = !hidePassword"
          >
            <ion-icon *ngIf="hidePassword" name="eye-off"></ion-icon>
            <ion-icon *ngIf="!hidePassword" name="eye"></ion-icon>
          </div>
          } @else {

          <ion-icon name="lock-closed" class="icon"></ion-icon>
          }
        </div>
        <div
          *ngIf="loginFormControl['password'].errors"
          class="invalid-feedback"
          [ngClass]="{
            'd-block':
              loginFormControl['password'].invalid &&
              (loginFormControl['password'].dirty ||
                loginFormControl['password'].touched)
          }"
        >
          {{
            loginFormControl["password"].errors["required"]
              ? validationErrorMessage.passwordRequiredError
              : validationErrorMessage.passwordValidationError
          }}
        </div>
      </div>
    </form>
    }
  </div>
  <div class="modal-footer">
    <app-async-button
      type="submit"
      classes="restore-button"
      [disabled]="false"
      [isAsyncCall]="false"
      (click)="isLogin = !isLogin"
      >{{
        !isLogin ? "Already have an account ?" : "Don’t have an account?"
      }}</app-async-button
    >

    @if(!isLogin ) {
    <app-async-button
      type="submit"
      classes="restore-button"
      [disabled]="signUpForm.invalid || isSignUpAsyncCall"
      [isAsyncCall]="isSignUpAsyncCall"
      (click)="registerUser()"
      >Singup</app-async-button
    >
    } @else {
    <app-async-button
      type="submit"
      classes="restore-button"
      [disabled]="loginForm.invalid || isSignInAsyncCall"
      [isAsyncCall]="isSignInAsyncCall"
      (click)="loginUser()"
      >Login</app-async-button
    >
    }
  </div>
</ng-template>

<ng-template #confirmmEmail let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body d-flex align-items-center justify-content-center">
    <div class="otp-container">
      <div class="card">
        <div class="card-body">
          <h2>Enter 6-Digit OTP</h2>
          <p>
            A 6-digit OTP has been sent to your email. Please enter it below.
          </p>

          <input
            type="text"
            maxlength="6"
            [(ngModel)]="otp"
            class="otp-input"
            placeholder="Enter OTP"
            (keypress)="isNumberKey($event)"
          />

          <button class="otp-button mb-2" (click)="onSubmit()">
            Verify OTP
          </button>


          <p class="resend-text">
            Didn't receive the OTP?
            <a href="javascript:void(0);" (click)="resendMail()">Resend</a>

          </p>
        </div>
      </div>
    </div>
  </div>

</ng-template>
