
@if(!isCreateQuesToTest) {
    <div class="container">
        <header>
          <h1>Test Series Details</h1>
          <p>Effortlessly manage your test series and associated tests.</p>
        </header>
    
        <section class="series-details">
          <div class="details-header">
            <h2>Series Name: <span>{{testSeriesDetails?.name}}</span></h2> <!-- isCreateQuesToTest = !isCreateQuesToTest-->
            <button class="btn-create" id="createTestBtn" (click)="createTestModel()">+ Create New Test</button>
          </div>
          <p><strong>Description:</strong> &nbsp;{{testSeriesDetails?.details}}</p>
          <p><strong>Medium:</strong> &nbsp;{{testSeriesDetails?.medium}}</p>
          <p><strong>Start Date:</strong> &nbsp;{{testSeriesDetails?.startDate | date: 'd MMM, y'}}</p>
          <p><strong>Fee:</strong> &nbsp;{{testSeriesDetails?.fee | currency: 'INR'}}</p>
        </section>
    
        <section class="tests-list">
          <h2>Tests in this Series</h2>
         
          <app-table  
          [tableHeaders]="tableHeaders"
          [tableData]="tableData"
          [itemsPerPage]="10"
          [actionsConfig]="actionsConfig"
          (actionTriggered)="handleAction($event)"
          [tableName]="'Tests'"
          [showTableName]="true"
          [showSearchBar]="true"
          [showColumns]="showColumns"
          >
          </app-table>
        </section>
      </div>
} @else {
    <div class="container">
        <header>
            <h1>Generate test questions</h1>
            <p>Effortlessly generate test questions.</p>
          </header>
          <section class="series-details">
            <div class="details-header">
              <h2>Test Name: <span>{{testForm.title}}</span></h2>
              <div>
                <button class="btn-create" id="createTestBtns" (click)="generateQues = !generateQues">{{generateQues ? 'See question': 'Add question'}}</button> &nbsp;
                <button class="btn-create" id="createTestBtn" (click)="AccordionData= []; GeneratedQuestions = [] ;this.resetTestForm(); isCreateQuesToTest = !isCreateQuesToTest">Back</button>

              </div>
            </div>
            <p><strong>Duration:</strong> {{testForm.duration}}</p>
          </section>


          <div class="wrapper" *ngIf="generateQues">
            <div class="createContainer">
              <div class="input-group w-25rem  ">
                <input
                  type="text"
                  class="form-control mb-0"
                  name="Search"
                  placeholder="Search"
                  (input)="onSearchChange($event)"
                />
                <button  ngbTooltip="Search"  class="btn btn-primary add-more" type="button" ><ion-icon name="search-outline"></ion-icon></button>
              </div>
                <!-- <button class="btn btn-primary" placement="bottom" ngbTooltip="Create Category" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                    <ion-icon class="create" name="add-outline"></ion-icon> Create Category
                </button> -->
            
            </div>
              
              <div class="offcanvas offcanvas-end"  data-bs-backdrop="static" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="offcanvasExampleLabel">Create Categories</h5> 
                  <label class="switch" ngbTooltip="Create Sub Category">
                    <input type="checkbox" (change)="onToggleCategory($event)">
                    <span class="slider"></span>
                  </label>
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <form>
                        <div class="mb-3" *ngIf="!isCreateNewCategory">
                            <label for="exampleInputPassword1" class="form-label">Select Category</label>
                            <div class="dropdown"  [class.show]="dropdownOpen" (clickOutside)="dropdownOpen = false">
                 
                              <!-- Input field with dropdown arrow -->
                           <div class="input-group" id="target_Dropdown">
                             <input
                             type="text"
                             class="select_input form-control dropdown-toggle  text-start"
                             placeholder="Select Category"
                             [value]="selectedOption && selectedOption.catName  || 'Select an option'"
                             (click)="toggleDropdown()"
                             (focus)="toggleDropdown()"
                             name="selectInput"
                             aria-expanded="dropdownOpen"
                             readonly
                           /> <!--(focus)="toggleDropdown()"-->
                           <span class="input-group-append"  >
                             <ion-icon name="caret-down-outline" (click)="toggleDropdown()"></ion-icon><!-- Bootstrap Icon for dropdown  -->
                           </span>
                         </div>
                           
                             <!-- Dropdown menu with search functionality -->
                             <div class="dropdown-menu p-2" [class.show]="dropdownOpen" style="width: 100%;">
                               <!-- Search input -->
                               <input
                                 type="text"
                                 class="form-control mb-2"
                                 placeholder="Search..."
                                 name="searchInput"
                                 [(ngModel)]="searchQuery"
                                 (input)="filterOptions()"
                                 (click)="$event.stopPropagation()"  
                               />
                           
                               <!-- Filtered options list -->
                               <a
                                 *ngFor="let option of filteredOptions"
                                 class="dropdown-item"
                                 href="#"
                                 (click)="selectOption(option); $event.preventDefault()"
                               >
                                 {{ option.catName}}
                               </a>
                           
                               <!-- Message for no matches -->
                               <div *ngIf="filteredOptions && filteredOptions.length === 0" class="dropdown-item disabled">
                                 No options found
                               </div>
                             </div>
                           </div>
                          </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">{{isCreateNewCategory ? "Create Category" : "Sub Category"}}</label>
                          <div class="chip-input-container">
                            <div class="input-group mb-3">
                              <input
                                type="text"
                                class="form-control"
                                name="chipInput"
                                placeholder="Add sub Category"
                                [(ngModel)]="chipInput"
                                (keyup.enter)="addChip()"
                              />
                              <button  ngbTooltip="Create Category"  class="btn btn-primary add-more" type="button" (click)="addChip()"><ion-icon name="add-outline"></ion-icon></button>
                            </div>
                          
                            <div class="chip-list">
                              <span
                                class="badge bg-primary me-2 mb-2"
                                *ngFor="let chip of chips; let i = index">
                                {{ chip }}
                                <button
                                  type="button"
                                  class="btn-close btn-close-white ms-1"
                                  aria-label="Remove"
                                  (click)="removeChip(i)">
                                </button>
                              </span>
                            </div>
                          </div>
                          <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                        </div>
                       
                      
                        <button type="button" class="btn btn-primary" (click)="isCreateNewCategory ? createNewCategory(): createSubCategory() ">Submit</button>
                      </form>
                </div>
              </div>
            
            
    
            
            <ul class="tree">
                <li *ngFor="let category of filteredCategories" class="parent">
                    <details [open]="category.isOpen" class="details">
                        <summary><span class="label">Category</span>{{ category.catName }} &nbsp; <span ngbTooltip="Category question count">CQC: </span> {{category.questionCount}} &nbsp; <span ngbTooltip="Total Question Count">TQC:</span> {{category.totalQuestionCount}} <i (click)="onMove(category)" class="move fa fa-ellipsis-v" aria-hidden="true"></i></summary>
                        <ul class="nested-list">
                            <!-- Level 2 -->
                            <li *ngFor="let subCategory of category.subCategories" class="nested-item">
                                <details [open]="subCategory.isOpen">
                                    <summary><span class="label">Sub Category</span>{{ subCategory.catName }} &nbsp; <span ngbTooltip="Category question count">CQC: </span> {{subCategory.questionCount}} &nbsp; <span ngbTooltip="Total Question Count">TQC:</span> {{subCategory.totalQuestionCount}} <i (click)="onMove(subCategory)" class="move fa fa-ellipsis-v" aria-hidden="true"></i></summary>
                                    <ul class="nested-list">
                                        <!-- Level 3 -->
                                        <li *ngFor="let subSubCategory of subCategory.subCategories" class="nested-item">
                                            <details [open]="subSubCategory.isOpen">
                                                <summary><span class="label">Sub Category</span>{{ subSubCategory.catName }} &nbsp; <span ngbTooltip="Category question count">CQC: </span> {{subSubCategory.questionCount}} &nbsp; <span ngbTooltip="Total Question Count">TQC:</span> {{subSubCategory.totalQuestionCount}} <i (click)="onMove(subSubCategory)" class="move fa fa-ellipsis-v" aria-hidden="true"></i></summary>
                                                <ul class="nested-list">
                                                    <!-- Level 4 -->
                                                    <li *ngFor="let subSubSubCategory of subSubCategory.subCategories"
                                                        class="nested-item">
                                                        <details [open]="subSubSubCategory.isOpen">
                                                            <summary><span class="label">Sub Category</span>{{
                                                                subSubSubCategory.catName }} &nbsp; <span ngbTooltip="Category question count">CQC: </span> {{subSubSubCategory.questionCount}} &nbsp; <span ngbTooltip="Total Question Count">TQC:</span> {{subSubSubCategory.totalQuestionCount}}  <i (click)="onMove(subSubSubCategory)" class="move fa fa-ellipsis-v" aria-hidden="true"></i></summary>
                                                            <ul class="nested-list">
                                                                <!-- Level 5 -->
                                                                <li *ngFor="let subSubSubSubCategory of subSubSubCategory.subCategories"
                                                                    class="nested-item">
                                                                    <details [open]="subSubSubSubCategory.isOpen">
                                                                        <summary><span class="label">Sub Category</span>{{
                                                                            subSubSubSubCategory.catName }} &nbsp; <span ngbTooltip="Category question count">CQC: </span> {{subSubSubSubCategory.questionCount}} &nbsp; <span ngbTooltip="Total Question Count">TQC:</span> {{subSubSubSubCategory.totalQuestionCount}} <i (click)="onMove(subSubSubSubCategory)" class="move fa fa-ellipsis-v" aria-hidden="true"></i></summary>
                                                                        <ul class="nested-list">
                                                                            <!-- Level 6 -->
                                                                            <li *ngFor="let subSubSubSubSubCategory of subSubSubSubCategory.subCategories"
                                                                                class="nested-item">
                                                                                <details [open]="subSubSubSubSubCategory.isOpen">
                                                                                    <summary><span class="label">Sub
                                                                                            Category</span>{{
                                                                                        subSubSubSubSubCategory.catName }} &nbsp; <span ngbTooltip="Category question count">CQC: </span> {{subSubSubSubSubCategory.questionCount}} &nbsp; <span ngbTooltip="Total Question Count">TQC:</span> {{subSubSubSubSubCategory.totalQuestionCount}}  <i (click)="onMove(subSubSubSubSubCategory)" class="move fa fa-ellipsis-v" aria-hidden="true"></i>
                                                                                    </summary>
                                                                                    <ul class="nested-list">
                                                                                        <!-- Level 7 -->
                                                                                        <li *ngFor="let subSubSubSubSubSubCategory of subSubSubSubSubCategory.subCategories"
                                                                                            class="nested-item">
                                                                                            <details
                                                                                                [open]="subSubSubSubSubSubCategory.isOpen">
                                                                                                <summary><span class="label">Sub
                                                                                                        Category</span>{{
                                                                                                    subSubSubSubSubSubCategory.catName
                                                                                                    }} &nbsp; <span ngbTooltip="Category question count">CQC: </span> {{subSubSubSubSubSubCategory.questionCount}} &nbsp; <span ngbTooltip="Total Question Count">TQC:</span> {{subSubSubSubSubSubCategory.totalQuestionCount}}
                                                                                                    <i (click)="onMove(subSubSubSubSubSubCategory)" class="move fa fa-ellipsis-v" aria-hidden="true"></i>
                                                                                                </summary>
                                                                                                <ul class="nested-list">
                                                                                                    <!-- Level 8 -->
                                                                                                    <li *ngFor="let subSubSubSubSubSubSubCategory of subSubSubSubSubSubCategory.subCategories"
                                                                                                        class="nested-item">
                                                                                                        <details
                                                                                                            [open]="subSubSubSubSubSubSubCategory.isOpen">
                                                                                                            <summary><span
                                                                                                                    class="label">Sub
                                                                                                                    Category</span>{{
                                                                                                                subSubSubSubSubSubSubCategory.catName
                                                                                                                }} &nbsp; <span ngbTooltip="Category question count">CQC: </span> {{subSubSubSubSubSubSubCategory.questionCount}} &nbsp; <span ngbTooltip="Total Question Count">TQC:</span> {{subSubSubSubSubSubSubCategory.totalQuestionCount}}
                                                                                                                <i (click)="onMove(subSubSubSubSubSubSubCategory)" class="move fa fa-ellipsis-v" aria-hidden="true"></i>
                                                                                                            </summary>
                                                                                                            <ul class="nested-list">
                                                                                                                <!-- Level 9 -->
                                                                                                                <li *ngFor="let subSubSubSubSubSubSubSubCategory of subSubSubSubSubSubSubCategory.subCategories"
                                                                                                                    class="nested-item">
                                                                                                                    <details
                                                                                                                        [open]="subSubSubSubSubSubSubSubCategory.isOpen">
                                                                                                                        <summary>
                                                                                                                            <span
                                                                                                                                class="label">Sub
                                                                                                                                Category</span>{{
                                                                                                                            subSubSubSubSubSubSubSubCategory.catName
                                                                                                                            }}
                                                                                                                            &nbsp; <span ngbTooltip="Category question count">CQC: </span> {{subSubSubSubSubSubSubSubCategory.questionCount}} &nbsp; <span ngbTooltip="Total Question Count">TQC:</span> {{subSubSubSubSubSubSubSubCategory.totalQuestionCount}}
                                                                                                                            
                                                                                                                            <i (click)="onMove(subSubSubSubSubSubSubSubCategory)" class="move fa fa-ellipsis-v" aria-hidden="true"></i>
                                                                                                                        </summary>
                                                                                                                        <ul
                                                                                                                            class="nested-list">
                                                                                                                            <!-- Level 10 -->
                                                                                                                            <li *ngFor="let subSubSubSubSubSubSubSubSubCategory of subSubSubSubSubSubSubSubCategory.subCategories"
                                                                                                                                class="nested-item">
                                                                                                                                <details
                                                                                                                                    [open]="subSubSubSubSubSubSubSubSubCategory.isOpen">
                                                                                                                                    <summary>
                                                                                                                                        <span
                                                                                                                                            class="label">Sub
                                                                                                                                            Category</span>{{
                                                                                                                                        subSubSubSubSubSubSubSubCategory.catName
                                                                                                                                        }}
                                                                                                                                        &nbsp; <span ngbTooltip="Category question count">CQC: </span> {{subSubSubSubSubSubSubSubSubCategory.questionCount}} &nbsp; <span ngbTooltip="Total Question Count">TQC:</span> {{subSubSubSubSubSubSubSubSubCategory.totalQuestionCount}}
                                                                                                                                      
                                                                                                                                        <i (click)="onMove(subSubSubSubSubSubSubSubCategory)" class="move fa fa-ellipsis-v" aria-hidden="true"></i>
                                                                                                                                    </summary>
                                                                                                                                    <!-- Add the nested structure here if needed -->
                                                                                                                                </details>
                                                                                                                            </li>
                                                                                                                        </ul>
                                                                                                                    </details>
                                                                                                                </li>
                                                                                                            </ul>
                                                                                                        </details>
                                                                                                    </li>
                                                                                                </ul>
                                                                                            </details>
                                                                                        </li>
                                                                                    </ul>
                                                                                </details>
                                                                            </li>
                                                                        </ul>
                                                                    </details>
                                                                </li>
                                                            </ul>
                                                        </details>
                                                    </li>
                                                </ul>
                                            </details>
                                        </li>
                                    </ul>
                                </details>
                            </li>
                        </ul>
                    </details>
                </li>
            </ul>
          
          </div>
          <br>
          <div >
            <div class="mt-5 my-4" *ngIf="GeneratedQuestions.length > 0 ; else noQUestion">
                <h1 class="mb-4">Category-wise MCQs </h1>
                <div class="accordion" id="accordionExample">
                    <div *ngFor="let category of GeneratedQuestions" class="accordion-item">
                      <h2 class="accordion-header" id="{{ 'heading' + category.categoryId }}">
                        <button
                          class="accordion-button"
                          type="button"
                          data-bs-toggle="collapse"
                          [attr.data-bs-target]="'#collapse' + category.categoryId"
                          aria-expanded="true"
                          [attr.aria-controls]="'collapse' + category.categoryId"
                        >
                          {{ category.categoryName }}
                        </button>
                      </h2>
                      <div
                        [id]="'collapse' + category.categoryId"
                        class="accordion-collapse collapse"
                        [class.show]="GeneratedQuestions[0].categoryId === category.categoryId"
                        [attr.aria-labelledby]="'heading' + category.categoryId"
                        data-bs-parent="#accordionExample"
                      >
                        <div class="accordion-body">
                          <ul class="options"> 
                            <li *ngFor="let mcq of category.mcqs; let index = index">  
                              <p class="d-flex align-items-center justify-content-between"><span><strong>Q{{ index + 1 }}:</strong> {{ mcq.question }}</span> <i (click)="deleteGeneratedQues(mcq)" class=" far fa-trash-alt trash" aria-hidden="true"></i></p>
                              <ul>
                                <li>a) {{ mcq.a }}</li>
                                <li>b) {{ mcq.b }}</li>
                                <li>c) {{ mcq.c }}</li>
                                <li>d) {{ mcq.d }}</li>
                              </ul>
                              <br>
                              <p><strong>Complexity:</strong> <span class="highlight">{{ mcq.complexity }}</span> </p>
                              <p><strong>Description:</strong> {{ mcq.description }}</p>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  
            </div>
            <ng-template #noQUestion>
              <div class="mt-5">
                <!-- <p class="text-center">Please generate the questions for creating test</p> -->
                <div class="text-center p-4 bg-light rounded shadow-sm my-4">
                  <p class="display-6 text-primary font-weight-bold">
                    Please generate the questions for creating the test
                  </p>
                  <p class="text-muted mb-0">Make sure to follow the instructions carefully</p>
                </div>
              </div>
            </ng-template>
              
          </div>
          <div class="create-details-header">
            <!-- <h2>Series Name: <span>Modern Test Series</span></h2> -->
            <button *ngIf="generateQues" class="btn-create" id="createTestBtn" [disabled]="GeneratedQuestions.length == 0" (click)="addQuesToTest()" >Add</button>
          </div>
            
       


       
        
        
        
          
          
          
            
    </div>

    
}



<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{isEditTest ? 'Edit test' : 'Create test'}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="resetTestForm(); isEditTest = false; modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
   
    
  
      <!-- Title Field -->
      <div class="input-box">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title"
          placeholder="Enter Title" [(ngModel)]="testForm.title" name="title" required>
      </div>
    
      <!-- Subtitle Field -->
      <div class="input-box">
        <label for="subTitle" class="form-label">Sub Title</label>
        <input type="text" class="form-control" id="subTitle"
          placeholder="Enter Subtitle" [(ngModel)]="testForm.subTitle" name="subTitle">
      </div>
    
      <!-- Keywords Field -->
      <div class="input-box">
        <label for="keywords" class="form-label">Keywords</label>
        <div class="chip-container  mb-10px">
          <input type="text" class="chip-input" placeholder="Type and press Enter"
            [(ngModel)]="keywordsInput" name="keywords" (keydown.enter)="addKeyWordsChip()" />
          <div class="chips">
            <span *ngFor="let chip of testForm.keyWords; let i = index" class="chip">
              {{ chip }} <button class="remove-chip" (click)="removeKeyWordsChip(i)">×</button>
            </span>
          </div>
        </div>
      </div>
      
    
    
    
      <!-- Minimum Passing Score Field -->
      <div class="input-box">
        <label for="minimumPassingScore" class="form-label">Minimum Passing Score</label>
        <input type="number" class="form-control" id="minimumPassingScore"
          placeholder="Enter Minimum Passing Score" [(ngModel)]="testForm.minimumPassingScore" name="minimumPassingScore" required>
      </div>
    
      <!-- Topics Field -->
      <!-- <div class="input-box">
        <label for="topics" class="form-label">Topics</label>
        <input type="text" class="form-control" id="topics" placeholder="Enter Topics" [(ngModel)]="testForm.topics" name="topics">
      </div> -->

      <div class="input-box">
        <label for="topics" class="form-label">Topics</label>
        <div class="chip-container mb-10px">
          <input type="text" class="chip-input" placeholder="Type and press Enter"
            [(ngModel)]="topicsInput" name="topics" (keydown.enter)="addTopicsChip()" />
          <div class="chips">
            <span *ngFor="let chip of testForm.topics; let i = index" class="chip">
              {{ chip }} <button class="remove-chip" (click)="removeTopicsChip(i)">×</button>
            </span>
          </div>
        </div>
      </div>

      <div class="">
        <label for="exampleInputPassword1" class="form-label">Select Category</label>
        <div class="dropdown"  [class.show]="dropdownOpen" (clickOutside)="dropdownOpen = false">

          <!-- Input field with dropdown arrow -->
       <div class="input-group" id="target_Dropdown">
         <input
         type="text"
         class="select_input form-control dropdown-toggle  text-start"
         placeholder="Select Category"
         [value]="selectedOption && selectedOption.catName  || 'Select an option'"
         (click)="toggleDropdown()"
         (focus)="toggleDropdown()"
         name="selectInput"
         aria-expanded="dropdownOpen"
         readonly
       /> <!--(focus)="toggleDropdown()"-->
       <span class="input-group-append"  >
         <ion-icon name="caret-down-outline" (click)="toggleDropdown()"></ion-icon><!-- Bootstrap Icon for dropdown  -->
       </span>
     </div>
       
         <!-- Dropdown menu with search functionality -->
         <div class="dropdown-menu p-2" [class.show]="dropdownOpen" style="width: 100%;">
           <!-- Search input -->
           <input
             type="text"
             class="form-control mb-2"
             placeholder="Search..."
             name="searchInput"
             [(ngModel)]="searchQuery"
             (input)="filterOptions()"
             (click)="$event.stopPropagation()"  
           />
       
           <!-- Filtered options list -->
           <a
             *ngFor="let option of filteredOptions"
             class="dropdown-item"
             href="#"
             (click)="addCategoryChip(option); $event.preventDefault()"
           >
             {{ option.catName}}
           </a>
       
           <!-- Message for no matches -->
           <div *ngIf="filteredOptions && filteredOptions.length === 0" class="dropdown-item disabled">
             No options found
           </div>
         </div>
         <div class="chip-container mb-10px" *ngIf="testForm.categoryIds.length > 0">
          <div class="chips">
            <span *ngFor="let chip of testForm.categoryIds; let i = index" class="chip">
              {{ chip.catName }} <button class="remove-chip" (click)="removeTopicsChip(i)">×</button>
            </span>
          </div>
         </div>
       </div>
      </div>

    
      <!-- Duration Field -->
      <div class="input-box">
        <label for="duration" class="form-label">Duration</label>
        <input type="text" class="form-control" id="duration" placeholder="Enter Duration" [(ngModel)]="testForm.duration" name="duration" required>
      </div>
    
      <!-- Language Field -->
      <div class="input-box">
        <label for="language" class="form-label">Language</label>
        <input type="text" class="form-control" id="language" placeholder="Enter Language" [(ngModel)]="testForm.language" name="language" required>
      </div>
    
        <!-- Files Field -->
        <div class="input-box">
          <label for="files" class="form-label">Files</label>
          <input type="file" class="form-control" id="files" (change)="onFileChange($event)" multiple>
        </div>
    
    
    
    
    
  </div>
  <div class="modal-footer">
    @if(isEditTest) {
      <app-async-button type="button" classes="restore-button" [disabled]="false || createTestAsyncCall"
      [isAsyncCall]="createTestAsyncCall" (click)="editTest()">Edit</app-async-button>
    } @else {
      <app-async-button type="button" classes="restore-button" [disabled]="false || createTestAsyncCall"
    [isAsyncCall]="createTestAsyncCall" (click)="createTest()">Create</app-async-button>
    }
    <!-- <button type="button" class="btn btn-outline-secondary" (click)="modal.close('Save click')">Save</button> -->
    

   
  </div>
</ng-template>


<ng-template #genQues let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Generate Questions</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="unsubscribeFromChanges();questionForm.reset();modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body move-modal">


              <form [formGroup]="questionForm">
                <div class="form-group mb-3">
                  <label for="category" class="form-label">Selected Category</label>
                  
                    <div class="input-group" id="target_Dropdown">
                      <input 
                        type="text" 
                        class="form-control dropdown-toggle" 
                        placeholder="Selected Category"
                       
                        readonly 
                        formControlName="selectedCategory" />
                    </div>
                  
                </div>
              
                <!-- Easy Questions Field -->
                <div class="form-group mb-3">
                  <label for="easyQuestions" class="form-label">Number of Easy Questions</label>
                  <input
                    type="number"
                    class="form-control"
                    id="easyQuestions"
                    placeholder="Enter number of easy questions"
                    formControlName="easyQuestions"
                    min="0" />
                </div>
              
                <!-- Medium Questions Field -->
                <div class="form-group mb-3">
                  <label for="mediumQuestions" class="form-label">Number of Medium Questions</label>
                  <input
                    type="number"
                    class="form-control"
                    id="mediumQuestions"
                    placeholder="Enter number of medium questions"
                    formControlName="mediumQuestions"
                    min="0" />
                </div>
              
                <!-- Hard Questions Field -->
                <div class="form-group mb-3">
                  <label for="hardQuestions" class="form-label">Number of Hard Questions</label>
                  <input
                    type="number"
                    class="form-control"
                    id="hardQuestions"
                    placeholder="Enter number of hard questions"
                    formControlName="hardQuestions"
                    min="0" />
                </div>
              
            
              </form>
              
  </div>
  <div class="modal-footer">
      <app-async-button type="submit" classes="restore-button" [disabled]="questionForm.invalid || genQuesAsyncCall || totalQuestions > totalQuestionCount"
          [isAsyncCall]="genQuesAsyncCall" (click)="genQuestions()">Generate</app-async-button>

  </div>
</ng-template>