<div [ngClass]="isLightTheme ? 'light-theme' : 'dark-theme'">
  <main>
    <div class="hero">
      <div class="container d-flex justify-content-center">
        <div
          class="d-flex justify-content-center flex-column align-items-center position-relative"
        >
          <img src="assets/icons/logo.png" alt="image" class="hero-img w-75" />
          <div class="btn-groups">
            <a routerLink="/courses" class="btn btn-primary">Courses</a>
            <a routerLink="/editorial" class="btn btn-secondary">Editorial</a>
          </div>
        </div>
      </div>
    </div>

    <div class="main">
      <div class="container">
        <div class="blog">
          <iframe *ngIf="youtubeVideoLink"
            class="mb-5 rounded"
            width="100%"
            height="400"
            [src]="youtubeVideoLink"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>

          <h2 class="h2">Latest Editorial</h2>
          <div class="editorial" >
              <app-daily-editorial-landing-page ></app-daily-editorial-landing-page>
          </div>

          <h2 class="h2" *ngIf="settingsService.isModuleVisible('Courses') && tableData.length > 0">Our Courses</h2>
          <div class="courses mb-5" *ngIf="settingsService.isModuleVisible('Courses')">
            <owl-carousel-o [options]="customOptions">
              <ng-container *ngFor="let slide of tableData">
                <ng-template carouselSlide [id]="slide.id">
                  <div class="card course-card">
                    <a
                      href="javascript:void(0);"
                      [routerLink]="['/courses-detail', slide.id]"
                    >
                      <img
                        class="card-img-top"
                        [src]="staticBaseUrl + slide.thumbnail"
                        alt="Card image cap"
                        height="200px"
                        loading="lazy"
                        onerror="this.src = 'assets/302x200.svg'"
                      />
                    </a>
                    <div class="card-body">
                      <h5 class="card-title div-courses-min-height">
                        {{ slide.name }}
                      </h5>
                      <a
                        href="javascript:void(0);"
                        [routerLink]="['/courses-detail', slide.id]"
                        class="btn btn-primary w-100"
                        >View Details</a
                      >
                    </div>
                  </div>
                </ng-template>
              </ng-container>
            </owl-carousel-o>
          </div>

          <h2 class="h2">Latest Blog Post</h2>

          <div class="blog-card-group">
            @for(blog of blogs; track $index) {
            <div class="blog-card">
              <div class="blog-card-banner">
                <img
                  [src]="blog && staticBaseUrl + blog.coverImage"
                  alt="blog image"
                  class="blog-banner-img"
                  width="200"
                  loading="lazy"
                  onerror="this.src = 'assets/302x200.svg'"
                />
              </div>

              <div class="blog-content-wrapper">
                <div class="custom-flex">
                  @for (tag of blog && blog.tags; track $index) {
                  <button class="blog-topic text-tiny">
                    {{ tag && tag.catName }}
                  </button>

                  }
                </div>
                <h3>
                  <a [routerLink]="['/blog-details', blog.id]" class="h3">{{
                    blog && blog.title
                  }}</a>
                </h3>
                <p class="blog-text">{{ blog && blog.description }}</p>

                <div class="wrapper-flex">
                  <div class="wrapper">
                    <a href="#" class="h4">Admin</a>

                    <p class="text-small">
                      <time datetime="2024-01-11"
                        >{{
                          blog && blog.createdAt | date : "MMM dd, yyyy" : "UTC"
                        }}
                      </time>
                      <span class="separator"></span>
                      <ion-icon name="time-outline"></ion-icon>
                      <time datetime="PT3M">{{
                        getTimeAgo(blog && blog.createdAt)
                      }}</time>
                    </p>
                  </div>
                </div>
              </div>
            </div>

            } @empty {
            <p>No data found.</p>
            }
          </div>

          <button class="btn load-more" [routerLink]="['/blogs']" blogs>
            More blogs
          </button>
        </div>

        <div class="aside">
          <div class="topics">
            <h2 class="h2">Topics</h2>

            @for (tag of tags; track $index) {
            <a href="#" class="topic-btn">
              <div class="icon-box">
                <img src="assets/icons/chat.png" alt="" width="50" />
              </div>

              <p class="m-0">{{ tag && tag.catName }}</p>
            </a>
            } @empty {
            <p>No data found.</p>
            }
          </div>

          <div class="contact">
            <h2 class="h2">Let's Talk</h2>

            <div class="wrapper">
              <p>
                Are you eager to enhance your skills and advance your career?
                Let's connect and explore how I can help you on your journey!
              </p>

              <ul class="social-link">
                <li>
                  <a
                    href="https://chat.whatsapp.com/L6Fo43K7vUN1iDyfWpiJuv"
                    target="_blank"
                    class="icon-box discord"
                  >
                    <i class="fa-brands fa-whatsapp"></i>
                  </a>
                </li>

                <li>
                  <a
                    href="https://t.me/Insights_into_current"
                    target="_blank"
                    class="icon-box twitter"
                  >
                    <i class="fa-brands fa-telegram"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
