
<div class="container">
  <header class="rounded">
      <div class="difficulty" aria-label="Difficulty Level">
          <h1>{{testDetails && testDetails.title | uppercase}}     </h1>
       
           <div class="test-timer">
              <i class="far fa-clock"></i> Time: {{ remainingTime }}
            </div>
  
      </div>
    </header>
    <div class="container-question">
      <div class="question-panel position-relative" >
        <h2 class="mb-0 d-flex"><span class="pl-3 py-2">Q</span> 
          <!-- <ng-container *ngIf="currentQuestion?.question?.includes('http'); else textQuestion">
              <img [src]="currentQuestion?.question" alt="Question Image" class="question-image" />
            </ng-container>
            <ng-template #textQuestion> -->
             <div id="questionEditor" ></div> <!--{{ currentQuestion?.question}}  [innerHTML]="currentQuestion?.question"--> 
            <!-- </ng-template> -->
        </h2>
        <div class="wrapper">
            <div class="options">
              <label class="option" tabindex="0" [ngClass]="{'active': selectedAnswer === 'A'}">
                  <span class="option-label">A</span>
                  <!-- <ng-container *ngIf="currentQuestion?.a?.includes('http'); else textOptionA">
                      <img [src]="currentQuestion?.a" alt="Option A Image" class="option-image" />
                    </ng-container>
                    <ng-template #textOptionA> -->
                  <span class="w-100 d-flex align-items-center justify-content-between" (click)="optionA.click()">
                    <div id="optionAEditor" ></div> <!--{{ currentQuestion?.a }} [innerHTML]="currentQuestion?.a"--> 
                      <!-- </ng-template> -->
                    <input type="radio" name="answer" #optionA [(ngModel)]="selectedAnswer" value="A" [attr.aria-label]="currentQuestion?.a">

                  </span>
              </label>
              <label class="option" tabindex="0" [ngClass]="{'active': selectedAnswer === 'B'}"> 
                  <span class="option-label">B</span>
                  <!-- <ng-container *ngIf="currentQuestion?.b?.includes('http'); else textOptionB">
                      <img [src]="currentQuestion?.b" alt="Option B Image" class="option-image" />
                    </ng-container>
                    <ng-template #textOptionB> -->
                      <span class="w-100 d-flex align-items-center justify-content-between" (click)="optionB.click()">
                        <div id="optionBEditor" ></div> <!--{{ currentQuestion?.b }} [innerHTML]="currentQuestion?.b"--> 
                      <!-- </ng-template> -->
                    <input type="radio" name="answer" #optionB [(ngModel)]="selectedAnswer" value="B" [attr.aria-label]="currentQuestion?.b">

                      </span>
              </label>
              <label class="option" tabindex="0" [ngClass]="{'active': selectedAnswer === 'C'}">
                  <span class="option-label">C</span>
                  <!-- <ng-container *ngIf="currentQuestion?.c?.includes('http'); else textOptionC">
                      <img [src]="currentQuestion?.c" alt="Option C Image" class="option-image" />
                    </ng-container>
                    <ng-template #textOptionC> -->
                      <span class="w-100 d-flex align-items-center justify-content-between" (click)="optionC.click()">
                        <div id="optionCEditor" ></div> <!--{{ currentQuestion?.c }} [innerHTML]="currentQuestion?.c"-->
                       <!-- </ng-template> -->
                     <input type="radio" name="answer" #optionC [(ngModel)]="selectedAnswer" value="C" [attr.aria-label]="currentQuestion?.c">

                      </span>
              </label>
              <label class="option" tabindex="0" [ngClass]="{'active': selectedAnswer === 'D'}">
                  <span class="option-label">D</span>
                  <!-- <ng-container *ngIf="currentQuestion?.d?.includes('http'); else textOptionD">
                      <img [src]="currentQuestion?.d" alt="Option D Image" class="option-image" />
                    </ng-container>
                    <ng-template #textOptionD> -->
                      <span class="w-100 d-flex align-items-center justify-content-between" (click)="optionD.click()">
                        <div id="optionDEditor" ></div>  <!--{{ currentQuestion?.d }} [innerHTML]="currentQuestion?.d"--> 
                      <!-- </ng-template> -->
                    <input type="radio" name="answer" #optionD [(ngModel)]="selectedAnswer" value="D" [attr.aria-label]="currentQuestion?.d">

                      </span>
              </label>
            </div>
      
            <!-- <div class="desc">
              {{currentQuestion?.description}}
            </div> -->
  
        </div>
     
       
  
        <div class="actions justify-content-between">
            <!-- <div class="timer" aria-label="Time Elapsed"><i class="far fa-clock"></i> Time Elapsed on this question:  {{  }}</div> -->
             <div></div>
             <div>
               <button class="button save-next" (click)="saveAnswer()">SAVE AND NEXT</button> &nbsp;
               <button class="button review-next" (click)="review()">REVIEW AND NEXT</button>
  
             </div>
         
        </div>
      </div>
    
      <div class="question-sidebar position-relative">
        <h3>Questions</h3>
        <div class="question-panel-list">
            <div class="question-list">
              @for( q of questions; track q;let id = $index) {
  
                  <!-- <div class="question-number" [tabindex]="q.id" [aria-label]=`Question ${q.id}`>01</div> -->
                  <div class="question-number" [ngClass]="{'active': currentQuestioNumber.includes(q.id), 'attempted': answeredArray.includes(q.id), 'review': reviewArray.includes(q.id) }" (click)="gotToQuestion(q)" [tabindex]="q.id" [attr.aria-label]="'Question ' + q.id">
                      {{ id+1 }} 
                    </div>
              }
              <!-- <div class="question-number" tabindex="0" aria-label="Question 2">02</div>
              <div class="question-number" tabindex="0" aria-label="Question 3">03</div>
              <div class="question-number active" tabindex="0" aria-label="Question 13">13</div>
              <div class="question-number" tabindex="0" aria-label="Question 14">14</div>
              <div class="question-number" tabindex="0" aria-label="Question 15">15</div> -->
            </div>
            
          </div>
          <div class="actions">
            <button class="button submit" (click)="submitTest()">SUBMIT EXAM</button>
          </div>
      </div>
    </div>

</div>

