<div class="container">
  <header class="blog-header">
    <img
      loading="lazy"
      [src]="staticBaseUrl + (blogData && blogData.coverImage)"
      alt="Blog Cover Image"
      onerror="this.src = 'assets/1276x260.svg'"
    />
    <h3 class="blog-title mb-0">{{ blogData && blogData.title }}</h3>
  </header>
  <section class="blog-content">
    <p class="blog-date-author">
      Published on
      {{ blogData && blogData.createdAt | date : "MMMM d, yyyy" }} by
      <strong>Admin</strong>
    </p>
    <!-- <div id="editor" class="editor-container"></div> -->
    <div class="ql-editor" [innerHTML]="sanitizer.bypassSecurityTrustHtml(blogData && blogData.blogContent)"></div>

    <div class="blog-tags">
      <ng-container *ngFor="let tag of blogData && blogData.tags">
        <a href="javascript:void(0)" class="tag">{{ tag && tag.catName }}</a>
      </ng-container>
    </div>
    <section class="related-blogs">
      <h3>Related Blogs</h3>
      <ng-container *ngFor="let blog of blogData && blogData.suggestions">
        <div class="related-item">
          <img [src]="staticBaseUrl + blog.coverImage" alt="Related Blog Img" />
          <a
            href="javascript:void(0);"
            [routerLink]="
              isUserLoggedIn
                ? ['/dash/blog-details', blog.id]
                : ['../../blog-details', blog.id]
            "
            (click)="getBlogs(blog.id)"
            >{{ blog.title }}</a
          >
        </div>
      </ng-container>
    </section>
    <section class="related-blogs d-flex justify-content-center">
      <share-buttons
        [theme]="'modern-dark'"
        [include]="[
          'facebook',
          'x',
          'linkedin',
          'telegram',
          'whatsapp',
          'print',
          'copy'
        ]"
        [exclude]="[
          'pinterest',
          'reddit',
          'tumblr',
          'mix',
          'viber',
          'vk',
          'messenger',
          'xing',
          'line',
          'sms',
          'email'
        ]"
        [show]="5"
        [showText]="true"
      ></share-buttons>
    </section>
  </section>
</div>
