

:host .btn {
    --bs-btn-padding-x: 0.28rem;
    --bs-btn-padding-y: 0.28rem;
    border: none;
}



:host ::ng-deep .ngb-dp-weekday {
    color: var(--color-default);
}



@keyframes moveAnimation {
    from {
        left: 0%;
    }

    to {
        left: 50%;
    }
}

::ng-deep .ngb-dp-arrow .btn-link {
    --bs-btn-color: var(--color-default)
}

.bi-search,
.bi-bell {
    color: var(--text-black-color);
}

.search-icon {
    cursor: pointer;
}

.search-bar {
    display: none;
    position: absolute;
    top: 200px;
    right: 0;
    left: 0;
    margin: auto;
    width: 300px;
    border-radius: 5px;
    z-index: 5;
}

.search-bar.active {
    display: block;
}

.search-bar input {
    width: 100%;
    border: none;
    outline: none;
}

.status-user-role {
    color: var(--color-gray);
    margin: 0 10px 0 0;
    text-align: center;
    font-size: 14px;
}

.status-user-name {
    color: var(--text-black-color);
    margin: 0 10px 0 0;
}

.status-icon-container {
    width: 40px;
    height: 40px;
    position: relative;

    img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
    }

    .status-circle {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: green;
        border: 2px solid white;
        bottom: 0;
        right: 0;
        position: absolute;
    }

    .logout {
        position: absolute;
        top: 100%;
        right: 0;
        width: auto;
        margin-top: 10px;
        background-color: #FFFFFF;
        padding: 10px;
        border-radius: 5px;
        z-index: 100;
        cursor: pointer;
    }
}


.notification-single-message {
    position: absolute;
    top: 100%;
    right: 0;
    width: 250px;
    transform: translate(30%, 0%);
    background: var(--color-white);
    padding: 20px;
    z-index: 2;
    border-radius: 15px;
    cursor: auto;

    .message-box {
        overflow-y: auto;
        height: calc(40vh);
    }

    h4 {
        font-size: 18px;
        text-align: left;
        color: var(--text-black-color);
    }

    p {
        font-size: 14px;
        border-bottom: 1px solid var(--color-gray);
        color: var(--color-gray);
        padding: 10px 0;
        text-align: justify;
    }

    .empty-notification {
        border: none;
        margin: 0;
    }
}

.onboarding-form {

    .back-button {
        margin-left: 5px;
    }
}

.week-btn-grp {
    vertical-align: middle;
    display: inline-block;
    background: none !important;

}

.week-btn-grp button {
    float: left;
    font-size: 12px;
    border: 1px solid #cac1c1;
    border-radius: 50%;
    padding: 10px 7PX;
    margin-left: 7px;
    border-left: none;
    outline: none;
    cursor: pointer;
    background: #B3E1E4;
    color: #000;
    font-weight: 600;

}

.week-btn-grp .selectedDay {
    background: #158f97;
    color: #FFF;

}

.week-btn-grp button:hover {
    color: #fff;
}

input[type=time]::-webkit-calendar-picker-indicator {
    position: relative;
}

$number-of-options: 5;

#form-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none !important;

}

#debt-amount-slider {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    position: relative;
    width: 100%;
    height: 50px;
    user-select: none;

    &::before {
        content: " ";
        position: absolute;
        height: 2px;
        width: 100%;
        width: calc(100% * (#{$number-of-options - 1} / #{$number-of-options}));
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #000;
    }

    input,
    label {
        box-sizing: border-box;
        flex: 1;
        user-select: none;
        cursor: pointer;
    }

    label {
        display: inline-block;
        position: relative;
        width: 20%;
        height: 100%;
        user-select: none;

        &::before {
            content: attr(data-debt-amount);
            position: absolute;
            left: 50%;
            padding-top: 10px;
            transform: translate(-50%, 45px);
            font-size: 14px;
            letter-spacing: 0.4px;
            font-weight: 400;
            white-space: nowrap;
            opacity: 0.85;
            transition: all 0.15s ease-in-out;
        }

        &::after {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 15px;
            height: 15px;
            border: 2px solid #000;
            background: #fff;
            border-radius: 50%;
            pointer-events: none;
            user-select: none;
            z-index: 1;
            cursor: pointer;
            transition: all 0.15s ease-in-out;
        }

        &:hover::after {
            transform: translate(-50%, -50%) scale(1.25);
        }
    }

    input {
        display: none;

        &:checked {
            +label::before {
                font-weight: 800;
                opacity: 1;
            }

            +label::after {
                border-width: 4px;
                transform: translate(-50%, -50%) scale(0.75);
            }

            ~#debt-amount-pos {
                opacity: 1;
            }

            @for $i from 1 through $number-of-options {
                &:nth-child(#{$i * 2 - 1})~#debt-amount-pos {
                    left: #{($i * 20%) - 10%};
                }
            }
        }
    }

    #debt-amount-pos {
        display: block;
        position: absolute;
        top: 50%;
        width: 12px;
        height: 12px;
        background: #000;
        border-radius: 50%;
        transition: all 0.15s ease-in-out;
        transform: translate(-50%, -50%);
        border: 2px solid #fff;
        opacity: 0;
        z-index: 2;
    }
}

.onbording-table tr th,
td {
    color: #667085;
    padding: 10px;
}
.admin-bg-color{
    background: #d0edf2;
}

::ng-deep .login-form-action button {
    background-color: var(--color-default);
    color: var(--color-white);
    font-weight: 600;
    border: none;
}


::ng-deep .login-form-action button:hover {
    background-color: var(--color-default);
    color: var(--color-white);
    font-weight: 600;
    border: none;
}




// new code ---------------------------------------------------------------------

.dropdown-menu.show {
    --bs-dropdown-min-width: 8rem;
}